
build/.vs/win32_snake/project-colors.json
build/.vs/win32_snake/v17/.suo
build/.vs/win32_snake/v17/Browse.VC.db
build/.vs/win32_snake/v17/ipch/AutoPCH/7feac2494c4735c0/WIN32_SNAKE.ipch
build/loop_edit_0_state.hmi
build/loop_edit_1_state.hmi
build/loop_edit_2_state.hmi
build/loop_edit_3_state.hmi
build/snake.dll
build/snake.exp
build/snake.map
build/snake.obj
build/snake_temp.dll
build/win32_snake.map
build/win32_snake.obj
build/win32_snake.pdb
build/win32_snake.exe
build/test.out
build/.vs/win32_snake/v17/ipch/AutoPCH/ff1da7330ab632a6/WIN32_SNAKE.ipch
build/.vs/win32_snake/v17/ipch/AutoPCH/61a0eecc19020e5c/SNAKE.ipch
build/.vs/win32_snake/v17/Browse.VC.opendb
build/.vs/win32_snake/v17/Browse.VC.db-wal
build/.vs/win32_snake/v17/Browse.VC.db-shm
build/win32_snake.exe
build/win32_snake.exe
build/.vs/win32_snake/v17/ipch/AutoPCH/e95c8b844384e31c/WIN32_SNAKE.ipch
*.exe
build/.vs/win32_snake/v17/ipch/AutoPCH/4c42f973600ccb80/WIN32_SNAKE.ipch
build/.vs/win32_snake/v17/ipch/AutoPCH/e80a5277a72fe996/WIN32_SNAKE.ipch
build/win32_snake.exe
build/.vs/win32_snake/v17/ipch/AutoPCH/cb4dd5ba9aef8ed4/WIN32_SNAKE.ipch
build/.vs/win32_snake/v17/ipch/AutoPCH/cb4dd5ba9aef8ed4/WIN32_SNAKE.ipch
